# dependencies
node_modules
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
.npm
web_modules/

# blitz
/.blitz/
/.next/
*.sqlite
*.sqlite-journal
.now
.blitz**
blitz-log.log

# misc
.DS_Store

# local env files
.env.local
.env.*.local
.envrc

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Testing
.coverage
*.lcov
.nyc_output
lib-cov

# Caches
*.tsbuildinfo
.eslintcache
.node_repl_history
.yarn-integrity

# Serverless directories
.serverless/

# Stores VSCode versions used for testing VSCode extensions
.vscode-test
.Rhistory
.Rproj.user
STAPLE.Rproj

# local migrations
db/migrations/local/
db/migrations/
tmp/*

# ignore builds but keep the folder for folks
viewer-builds/*.zip
viewer-builds/Proj*
viewer-builds/viewer*
db/migrations/migration_lock.toml
